@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cormorant+Garamond:wght@700&family=Noto+Sans&family=Philosopher:ital,wght@1,700&family=Poppins:wght@100;200;300;400;500;600&family=Roboto&family=Rowdies:wght@700&family=Style+Script&display=swap');
:root {
  --darkBlue: rgb(8, 10, 79);
  --red: #D21312;
  --lightRed: #F15A59;
}

*{
  margin:0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.3s linear;
  font-family: 'Noto Sans', sans-serif;
}

nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  background-color: var(--darkBlue);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

nav ul li {
  margin-right: 1.3rem;
  font-size: 1.2rem;
  font-family: 'Philosopher';
  color: black;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

nav label {
  font-size: 2.5rem;
  margin-left: 1.2rem;
  font-family: 'Style Script', cursive;
  letter-spacing: 5px;
  font-weight: bold;
  color: var(--lightRed); 
}

.Link {
  color: var(--lightRed);
}

.hamburger {
  color: var(--lightRed);
  font-size: 2rem;
  margin-right: 2rem;
  display: none;
}

@media screen and (max-width: 950px)
{
  .hamburger {
    display: block;
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  nav {
    height: 12vh;
  }
}

.navbtn {
  padding: 5px 7px;
  border: 2px solid var(--lightRed);
  border-radius: 5px;
  transition: all 0.3s linear;
  background-color: transparent;
}

.navbtn:hover{
  background-color: var(--lightRed);
  color: var(--darkBlue);
}

nav ul:hover li {
  opacity: .9;
  filter: blur(2px);
}

nav ul li:hover{
  opacity: 1;
  filter: blur(0px);
}

.landing {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./assets/carbg.jpg");
  height: 82vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.mobile-navbar {
  position: absolute;
  top: 12vh;
}

.mobile-navbar ul {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 88vh;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: var(--lightRed);
  text-align: center;
}

.mobile-navbar ul .Link {
  color: var(--darkBlue);
}

.mobile-navbar ul li {
  display: grid;
  width: 100vw;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-form {
  display: grid;
  height: 85vh;
  place-items: center;
  text-align: center;
  background: linear-gradient(rgb(8, 10, 79,0.5),rgb(8, 10, 79,0.5)),url("./assets/cars.webp");
  background-size: cover;
  background-position: center;
}

.login-form input {
  display: block;
  padding: 8px;
  margin: 20px;
  width: 200px;
  border: none;
  border: 2px solid var(--darkBlue);
  border-radius: 5px;
}

.login-form .Login {
  background-color: #e37070;
  padding: 1.5rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.9);
  border-radius: 2px;
}

.Login h3 {
  font-size: 1.7rem;
  color: var(--darkBlue);
  font-weight: bold;
  letter-spacing: 1px;
}

.submit-btn {
  background-color: var(--darkBlue);
  color: var(--lightRed);
  padding: 5px 30px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 7px;
  letter-spacing: 2px;
  margin: 20px;
  font-weight: bold;
}

@media screen and(min-width:820px) {
  .mobile-navbar ul {
    display: none;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: var(--lightRed);
  margin: 50px;
  color: var(--darkBlue);
  font-size: 2rem;
  text-align: justify;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.profile-container p {
  margin: 10px;
}

.construction {
  height: 82vh;
  width: 100vw;
  background: url("./assets/construction.jpg");
  background-size: cover;
  background-position: center;
}

.error {
  color: black;
  border: 2px solid black;
  padding: 5px;
  background-color: red;
}

@media screen and (max-width:694px)
{
  .construction {
    background: url("./assets/underconstruction.jpeg");
    background-size: cover;
    height: 88vh;
    background-position: center;
  }
}