.sm-upload-material-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.sm-upload-material-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sm-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.sm-field label {
    font-size: 16px;
    margin-bottom: 5px;
}

.sm-field input,
.sm-field select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sm-add-new {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.sm-add-new input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sm-add-new button {
    margin-top: 5px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #02265b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sm-add-new button:hover {
    background-color: #02265b;
}

button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #02265b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sm-btnGroup :nth-child(2){
    margin-left: 2vw;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #fa0206;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sm-btnGroup :nth-child(2):hover{
    border: 2px solid #fa0206;
    background-color: transparent;
    color: #fa0206;
}

button[type="submit"]:hover {
    border: 2px solid#02265b;
    background-color: transparent;
    color: #02265b;
}

.sm-message {
    margin-top: 20px;
    text-align: center;
    color: #28a745;
    font-size: 16px;
}
.sm-uploadButton {
    position: relative;
    padding: 20px;
}

.sm-upload {
    position: absolute;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.sm-upload:hover {
    border: 2px solid#007bff;
    background-color: transparent;
    color: #007bff;
}